
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MyLayout</title>
    @Styles.Render("~/Content/css")

</head>
<body>

    <div class="modal fade" id="Panel_Warning" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="status modal-content bg-danger text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <script src="@Url.Content("~/Scripts/jquery-3.3.1.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script src="@Url.Content("~/Scripts/MyJs/form.js")"></script>
    <script src="@Url.Content("~/Scripts/MyJs/auth.js")"></script>
    <script src="@Url.Content("~/Scripts/MyJs/warning.js")"></script>

    <script>
        Form.init();
        Auth.init();
        Warning.init();
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
